.navbar {
    border-bottom: 0.5px rgba(75, 75, 75, 0.5) solid;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}


.nav-item i {
    font-size: 1.3rem; 
}
