.navbar {
    border-bottom: 0.5px rgba(75, 75, 75, 0.5) solid;
    padding-bottom: 0px;
    padding-top: 0px;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}

.nav-item {
    padding: 0px 10px;
}

.nav-item i {
    padding-top: 5px;
    font-size: 1.6rem; 
}


.nav-link {
    /* background-color: red; */
}
